img{
    height: 400px !important;
}
#library{
    article{
        div:first-child{
            cursor: pointer;
            &:hover{
                opacity: 0.9;
                transition-duration: 0.3s;
                transform: scale(1.005)
            }
        }
    }
}