/* line 1, ../sass/custom.scss */
img {
  height: 400px !important;
}

/* line 6, ../sass/custom.scss */
#library article div:first-child {
  cursor: pointer;
}
/* line 8, ../sass/custom.scss */
#library article div:first-child:hover {
  opacity: 0.9;
  transition-duration: 0.3s;
  transform: scale(1.005);
}
